main {
    margin-left: 10rem;
    margin-right: 10rem;
}

#home-button {
    float: left;
    border: none;
    font-size: 2em;
    font-weight: bold;
}

header a {
    color: #F8F8F2;
    text-decoration-line: none;
}

header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

header li {
    float: right;
}

.nav-link:hover {
    background-color: #44475A;
    border-color: #282A36;
}

.nav-link {
    padding: 1rem;
    margin-right: 2rem;
    border-bottom: 0.2rem solid #44475A;
}

body {
    background-color: #282A36;
    color: #F8F8F2;
}
