main {
    margin-left: 10rem;
    margin-right: 10rem;
}

#home-button:hover {
    background-color: #282A36;
    color: #FFB86C;
}

#home-button {
    float: left;
    border: none;
    font-size: 2em;
    font-weight: bold;
}

.nav-link:hover {
    background-color: #44475A;
    border-color: #6272A4;
    color: #FFB86C;
}

.nav-link {
    padding: 1rem;
    margin-right: 2rem;
    border-bottom: 0.2rem solid #44475A;
    float: right;
    color: #F8F8F2;
}

header a {
    text-decoration-line: none;
}

header ul {
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

.left {
    float: left;
    padding: 4rem;
}

.right {
    float: right;
    padding: 4rem;
}

footer {
    display: inline-block;
    text-align: center;
    width: 100%;
}

body {
    background-color: #282A36;
    color: #F8F8F2;
}
