nav a {
    color: white;
    text-decoration-line: none;
    margin-left: 5px;
}

nav ul li {
    display: inline-block;
    float: left;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

menu {
    padding: 10px;
}
